h1 {
    color:rgb(139, 167, 194); 
    font-size: 50px;
}

#s2{
    color:rgb(124, 136, 160);
}

.c1{
    color:rgb(128, 57, 35);
}

.c2{
    color:rgb(197, 81, 191);
}

.c2:hover{
    font-size: 60px;
}
.g2{
    font-size: 60px;
}